<StackLayout>
    <TextField id="firstName" #firstNameTextField autocorrect="false" hint="First Name" [(ngModel)]="firstName" autocapitalizationType="none"></TextField>
    <TextField id="lastName" autocorrect="false" hint="Last Name" [(ngModel)]="lastName" autocapitalizationType="none"></TextField>
    <StackLayout orientation="horizontal">
        <Button text="Insert" (tap)="insert($event)" class="submit-button"></Button>
        <Button text="Select" (tap)="select($event)"></Button>
    </StackLayout>
</StackLayout>